<!DOCTYPE html>
<html ng-app="ajaxPollingApp" lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>Ajax polling - get : showcase</title>
  </head>
  <body>
    <section layout:fragment="content">
      <h2>Ajax polling - get(Knockout.js)</h2>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#" data-bind="click: vm.disp">
                  <span class="glyphicon glyphicon-bell"><span class="badge alert-danger" data-bind="text: vm.requestCount"></span></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <table class="table table-hover" data-bind="visible: vm.visibleTable">
        <tr><th>ID</th><th>Request Time</th><th>Arg1</th><th>Arg1</th><th></th></tr>
        <tbody data-bind="foreach: vm.records">
        <tr>
          <td data-bind="text: id"></td>
          <td data-bind="text: requestTime"></td>
          <td data-bind="text: arg1"></td>
          <td data-bind="text: arg2"></td>
          <td><a class="btn btn-default" data-bind="click: $root.vm.dispDetail">Detail</a></td>
        </tr>
        </tbody>
      </table>
      <div data-bind="visible: vm.visibleDetail, with: vm.detail">
        <table class="table">
          <tr><th>ID</th><td data-bind="text: id"></td></tr>
          <tr><th>Request Time</th><td data-bind="text: requestTime"></td></tr>
          <tr><th>Arg1</th><td data-bind="text: arg1"></td></tr>
          <tr><th>Arg2</th><td data-bind="text: arg2"></td></tr>
        </table>
        <a class="btn btn-default" data-bind="click: $root.vm.startProgress">Start Progress</a>
      </div>
    <script src="/ts/ajaxPollingKo.js"></script>
    </section>
  </body>
</html>